body > .tips,
#footer,
body > a
{
  display: none !important;
}
#viewer img {
  margin: 0 !important;
  display: block;
}
.__img_placeholder__ {
  min-height: 200px;
  margin: 20px 0;
}
#header,
#viewer,
.read_img {
  background: transparent !important;
}
#viewer {
  border-style: none !important;
}

body {
  background: #111 !important;
}

#updates h3 a {
  font-weight: bold;
}
